<html layout:decorate="~{layout}">
<div layout:fragment="content" class="box" style="font-family: pixel, serif;">
    <div class="d-flex justify-content-center">
        <div>
            <div class="p-2 text-center mb-3" id="loginText">
                L O G I N
            </div>
            <div id="section1">
                <label for="username" class="text-light mb-3">아이디를 입력하세요.<span class="blinking">|</span></label>
                <br>
                <input type="text" id="username"
                       style="background: black; padding-left: 5px; border-bottom: 1px solid white; color: white;">
                <div class="d-flex justify-content-end">
                    <button type="button" class="text-light mt-3" id="idButton"><span style="font-size: 9pt;">▶</span> Enter</button>
                </div>
            </div>
            <div id="section2" style="display: none;">
                <label for="password" class="text-light mb-3">비밀번호를 입력하세요.<span class="blinking">|</span></label>
                <br>
                <input type="text" id="password"
                       style="background: black; padding-left: 5px; border-bottom: 1px solid white; color: white;">
                <div class="d-flex justify-content-end">
                    <button type="button" class="text-light mt-3"><span style="font-size: 9pt;">▶</span> Enter</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script">
    $(function () {
        function move() {
            $("#section1").hide();
            $("#section2").show();
        }

        $("#idButton").click(function() {
            move();
        });

        $("#username").keydown(function(event) {
            if (event.key === 'Enter') {
                move();
                event.preventDefault();
            }
        });
    });
</script>
</html>