<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" style="background:black; margin: 0; height: 90vh; display: flex; justify-content: center; align-items: center;">
    <div class="d-flex justify-content-center">
        <div style="font-family: pixel, serif; width: 280px; background: rgba(128, 128, 128, 0.5); color: white; text-align: center; border-radius: 1px;">
            <div class="p-2" style="font-size: 20pt; background: rgb(50, 50, 50)">MENU</div>
            <div class="p-2 option" data-bs-toggle="modal" data-bs-target="#library">자료실</div>
            <div class="p-2 option" data-bs-toggle="modal" data-bs-target="#memo">메모장</div>
        </div>
    </div>
    <!-- library -->
    <div class="modal" id="library" tabindex="-1" aria-labelledby="libraryLabel" aria-hidden="true" style="font-family: pixel, serif;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"  style="background: rgba(90, 90, 90, 0.9)">
                <div class="modal-body">
                    <div style="font-size: 14pt; text-align: center; color: white;">[자료실]로 입장할까요?</div>
                    <div style="font-size: 14pt;" class="d-flex justify-content-center mt-2 text-light">
                        <div class="me-5 option" id="libEnter">YES</div>
                        <div class="option">NO</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- memo -->
    <div class="modal" id="memo" tabindex="-1" aria-labelledby="memoLabel" aria-hidden="true" style="font-family: pixel, serif;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"  style="background: rgba(90, 90, 90, 0.9)">
                <div class="modal-body">
                    <div style="font-size: 14pt; text-align: center; color: white;">[메모장]으로 입장할까요?</div>
                    <div style="font-size: 14pt;" class="d-flex justify-content-center mt-2 text-light">
                        <div class="me-5 option" id="memoEnter">YES</div>
                        <div class="option">NO</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" layout:fragment="script">

</script>
</html>