<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container" style="color: white; font-family: pixel;">
    <div class="my-5 bigBox">
        <div style="border-bottom: 1px solid white;" class="pb-1 my-3 row align-items-end">
            <div class="fs-3 fw-bold col-lg-7 col-md-6 col-sm-12" th:text="|< ${memo.title} >|"></div>
            <div class="col-lg-5 col-md-6 col-sm-12 text-end">
                <div th:if="${memo.modifyDate == null}" style="font-size: 14pt;"
                     th:text="${#temporals.format(memo.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                <div th:if="${memo.modifyDate != null}" style="font-size: 14pt;"
                     th:text="|${#temporals.format(memo.modifyDate, 'yyyy-MM-dd HH:mm')} 수정|"></div>
            </div>
        </div>
        <div style="border: 1px solid white; background: rgba(150, 150, 150, 0.5); border-radius: 5px;" class="p-3">
            <div th:utext="${@commonUtil.markdown(memo.content)}" style="font-family: Pre; font-size: 13pt;"></div>
            <div class="d-flex justify-content-end" th:if="${user.username == memo.member.username}">
                <div class="choice me-1" id="modify" type="button" data-bs-toggle="modal" data-bs-target="#modifyModal">
                    <span class="arrow">▶</span>수정
                </div>
                <div class="choice" id="delete" data-bs-target="#deleteModal" data-bs-toggle="modal"><span
                        class="arrow">▶</span>삭제
                </div>
            </div>
        </div>
        <!-- delete modal -->
        <div class="modal" id="deleteModal" tabindex="-1" aria-hidden="true" style="font-family: pixel, serif;">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content" style="background: rgba(90, 90, 90, 0.9)">
                    <div class="modal-body">
                        <div style="font-size: 14pt; text-align: center; color: white;">메모를 삭제할까요?</div>
                        <div style="font-size: 14pt;" class="d-flex justify-content-center mt-2 text-light">
                            <div class="me-5 choice" id="yesDelete" th:data-uri="@{|/memo/delete/${memo.id}|}"><span
                                    class="arrow">▶</span>YES
                            </div>
                            <div class="choice" id="noDelete" data-bs-dismiss="modal"><span class="arrow">▶</span>NO
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modify modal -->
        <div class="modal" id="modifyModal" tabindex="-1" aria-hidden="true" style="font-family: pixel, serif;">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content" style="background: rgba(90, 90, 90, 0.9)">
                    <div class="modal-body">
                        <div style="font-size: 14pt; text-align: center; color: white;">메모를 수정할까요?</div>
                        <div style="font-size: 14pt;" class="d-flex justify-content-center mt-2 text-light">
                            <div class="me-5 choice" id="yesModify" th:data-uri="@{|/memo/modify/${memo.id}|}"><span
                                    class="arrow">▶</span>YES
                            </div>
                            <div class="choice" id="noModify" data-bs-dismiss="modal"><span class="arrow">▶</span>NO
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script">
    $(function () {
        $('#yesModify').click(function () {
            window.location.href = $(this).data("uri");
        });
        $('#yesDelete').click(function () {
            window.location.href = $(this).data("uri");
        });
    })
</script>
</html>